<div class="d-flex flex-start mb-4">
    <div class="card w-100">
        <div class="card-body p-4">
            <div class="">
                <h5>${el.name}</h5>
                <p class="small">${el.datetime}</p>
                <p>
                    ${el.content}
                </p>

            </div>
        </div>
    </div>
</div>